#video {
  position: absolute;
  visibility: hidden;
  overflow: unset;
  border: none !important;
  outline: none !important;
  display: block;
}

#camera-canvas {
  position: absolute;
  width: 90%;
  height: auto;
  text-align: center;
  border: 5px solid;
  border-color: #999999;
}





#qr-msg {
  position: absolute;
  font-size: 100%;
}

span{
  margin:15px;
  padding:15px;
}
.wrap4 span{
  display:block;
}