#video {
  position: absolute;
  top: 30px;
  left: 30px;
  visibility: hidden;
  padding: 0;
  margin: 0;
  overflow: unset;
  border: none !important;
  outline: none !important;
  display: block;
}

#camera-canvas {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 50;
  padding: 0;
  margin: 0;
  overflow: unset;
  border: none !important;
  outline: none !important;
  display: block;

}

#rect-canvas {
  position: absolute;
  top: 3px;
  left: 30px;
  z-index: 100;
  padding: 0;
  margin: 0;
  overflow: unset;
  border: none !important;
  outline: none !important;
  display: block;

}

ul {
  position: absolute;
  bottom: 10px;
}
